{{ $re := $.File.BaseFileName }} {{ $backlinks := slice }} {{ range
  .Site.RegularPages }} {{ if and (findRE $re .RawContent) (not (eq
  $re .File.BaseFileName)) }} {{ $backlinks = $backlinks | append . }} {{ end }}
  {{ end }} {{ if gt (len $backlinks) 0 }}
  
  <aside class="backlinks">
    {{/*  <hr>  */}}
    <h3>Backlinks:</h3>
    <div>
        {{ range $backlinks }}
        <a class="capitalize"><a href="{{ .RelPermalink }}">↩ {{ .Title }}</a></p>
        {{ end }}
    </div>
  </aside>
  {{ else }}
  <aside>
    <h4>No notes link to this note</h4>
  </aside>
  {{ end }}
  
  <aside class="related">
    {{ $related := .Site.RegularPages.Related . | complement $backlinks | first 3
    -}} {{ with $related -}}
    <h3>slightly related:</h3>
      {{ range . -}}
      <a class="capitalize"><a href="{{ .RelPermalink }}">↪ {{ .Title }}</a></p>
      {{ end -}}
    {{ end -}}
  </aside>
