{{ $re := $.File.BaseFileName }} {{ $backlinks := slice }} {{ range
  .Site.RegularPages }} {{ if and (findRE $re .RawContent) (not (eq
  $re .File.BaseFileName)) }} {{ $backlinks = $backlinks | append . }} {{ end }}
  {{ end }} {{ if gt (len $backlinks) 0 }}
  
  <aside class="backlinks">
    {{/*  <hr>  */}}
    {{ if eq (len $backlinks) 1 }}
    <h3>{{ len $backlinks }} verlinkte Referenz:</h3>
    {{ else }}
    <h3>{{ len $backlinks }} verlinkte Referenzen:</h3>
    {{ end }}
    <div>
        {{ range $backlinks }}
        <a class="capitalize"><a href="{{ .RelPermalink }}">↩ {{ .Title }}</a></p>
        {{ end }}
    </div>
  </aside>
  {{ else }}
  <aside class="backlinks">
    <h4>Keine verlinkten Referenzen zu dieser Seite</h4>
  </aside>
  {{ end }}
  
  <aside class="related">
    {{ $related := .Site.RegularPages.Related . | complement $backlinks | first 3
    -}} {{ with $related -}}
    <h3>Siehe auch:</h3>
      {{ range . -}}
      <a class="capitalize"><a href="{{ .RelPermalink }}">🔗 {{ .Title }}</a></p>
      {{ end -}}
    {{ end -}}
  </aside>
